<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Livinn</title>
</head>

<body>

  <h3>Listing Details : </h3>
  <ul>
    <li>
      <%= listing.title %>
    </li>
    <li>
      <%= listing.description %>
    </li>
    <li>
      <%= listing.price.toLocaleString("en-IN", { style: "currency" , currency: "INR", minimumFractionDigits: 0 }); %>
    </li>
    <li>
      <%= listing.location %>
    </li>
    <li>
      <%= listing.country %>
    </li>
  </ul>
  <br>
  <a href="/listings/<%= listing._id  %>/edit">Edit this listing</a>
  <br>
  <form method="POST" action="/listings/<%= listing._id  %>?_method=DELETE">
    <button>Delete</button>
  </form>
</body>

</html>